*{
  box-sizing: border-box;
}

button{
  border-radius: 20px;
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 14px;
}

.container{
  font-family: 'Fascinate', cursive;
  color: white;
  width: 40%;
  height: 70%;
  margin: 200px 350px 100px 450px;
  border: 1.25px grey solid;
  padding: 20px;
  text-align: center;
  border-radius: 20px;
  background-color: grey;
}

@media only screen and (max-width: 480px) {
  main.container{
    margin: 60px 15px;
  }
  h1 {
    margin: 0;
  }
}

@media only screen and (max-width: 768px) {
  main.container{
    margin: 250px 30px;
  }
  .container{
    margin: 200px 0 0 0;
    width: 90%;
    height: 90%;
    padding: 0;
  }
}



.result{
  border: 1.25px grey solid;
  border-radius: 20px;
  margin: 10px;
}
.choices{
display: flex;
justify-content: space-between;
}

#rock{
  background-image: url(img/rock.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 90px;
  width: 110px;
  background-color: #B20000;
  font-family: 'Noto Sans TC', sans-serif;
}

#paper{
  background-image: url(img/paper.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 90px;
  width: 110px;
  background-color: #350000;
  font-family: 'Noto Sans TC', sans-serif;
}

#scissors{
  background-image: url(img/scissors.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 90px;
  width: 110px;
  background-color: #fadadd;
  font-family: 'Noto Sans TC', sans-serif;
}
